@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  color: #333;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  text-align: center;
  margin-top: 80px;
  font-family: Arial, sans-serif;
}

.button-group {
  margin-top: 30px;
}

.button-group button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

.button-group button:hover {
  background-color: #0056b3;
}
